*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
display:flex;
background:#0f172a;
color:white;
}

.sidebar{

width:260px;
height:100vh;
background:#111827;
padding:30px;
position:fixed;

}

.logo{

text-align:center;
margin-bottom:40px;

}

.logo h2{

font-size:28px;

}

.sidebar ul{

list-style:none;

}

.sidebar li{

padding:16px;
margin-bottom:15px;
border-radius:12px;
cursor:pointer;
transition:.3s;

}

.sidebar li:hover{

background:#2563eb;
transform:translateX(8px);

}

.active{

background:#2563eb;

}

.sidebar i{

margin-right:12px;

}

.content{

margin-left:260px;
width:100%;
padding:40px;

}

.topbar{

display:flex;
justify-content:space-between;
align-items:center;

}

.profile{

background:#2563eb;
border:none;
padding:12px 25px;
border-radius:30px;
color:white;
font-size:16px;
cursor:pointer;
transition:.3s;

}

.profile:hover{

transform:scale(1.08);

}

.cards{

display:grid;
grid-template-columns:repeat(4,1fr);
gap:30px;
margin-top:50px;

}

.card{

background:rgba(255,255,255,.08);
backdrop-filter:blur(18px);
padding:35px;
border-radius:18px;
box-shadow:0 0 25px rgba(37,99,235,.25);
transition:.4s;

}

.card:hover{

transform:translateY(-12px);
box-shadow:0 0 40px rgba(37,99,235,.6);

}

.card h2{

font-size:36px;
margin-bottom:15px;

}

.card p{

color:#cbd5e1;

}