<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShopKart Admin Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin_dashboard.css') }}">
</head>
<body>

<div class="sidebar">

    <h2>🛒 ShopKart</h2>

    <ul>
        <li>🏠 Dashboard</li>
        <li>📦 Products</li>
        <li onclick="window.location.href='/admin/add-product'">➕ Add Product</li>
        <li>📂 Categories</li>
        <li>👥 Users</li>
        <li>🛒 Orders</li>
        <li>💳 Payments</li>
        <li>⭐ Reviews</li>
        <li>⚙ Settings</li>
        <li>🚪 Logout</li>
    </ul>

</div>

<div class="main">

    <h1>Welcome Admin 👋</h1>

    <div class="cards">

        <div class="card">
            <h2>120</h2>
            <p>Total Products</p>
        </div>

        <div class="card">
            <h2>540</h2>
            <p>Total Orders</p>
        </div>

        <div class="card">
            <h2>350</h2>
            <p>Total Users</p>
        </div>

        <div class="card">
            <h2>₹4,80,000</h2>
            <p>Total Revenue</p>
        </div>

    </div>

</div>

</body>
</html>